body
{   
    background-color: black;
    height:100%;
    width:100%;
    margin: auto;
}

.scroll
{
	color: powderblue;
	margin:0.5%;
	padding:0.5%;
}
.name
{
	color: hotpink;
	font-size: 300%;
}
.skill
{
	font-size: 30px;
	text-align: center;
	color:powderblue;
}
.nav
{
	position:relative;
}
.btn
{
	position:relative;
	right: 0px;
	min-height: 48px;
	min-width: 48px;
	width:23.7%;
    max-height: 100%;
    max-width: 100%;
    margin: 0.5%;
    font-size: 100%;
    background-color: pink;
}
.btn:hover
{
	background-color: powderblue;
}


.tec
{
	display:flex;
	justify-content: center;
	align-content: space-around;
	flex-wrap: nowrap;
}
@media screen and (max-width: 750px)
{
	.skillset
	{
		margin: 1%;
	    padding: 1%
	    font-size: 150%;
	    background-color: lightpink;
	    width: 33.33%;
	    height: 210px;
	    overflow: hidden;
    	text-overflow: ellipsis;
	}
}

@media screen and (min-width: 750px)
{
	.skillset
	{
		margin: 1%;
	    padding: 1%
	    font-size: 150%;
	    background-color: lightpink;
	    width: 33.33%;
	    height: 120px;
	    
	}
}
.resume
{
	position: relative;
	left: 10px;
	//height: 60px;
	//width: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: space-between;
	
}
.social
{
	display:flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	//align-content: space-around;
	//margin:0.25%;
}
.common
{
	background-color: pink;
}
.heading
{
	text-align: center;
	color: hotpink;
	font-size: 150%;
	background-color: black;
}
.pdf
{
	margin: 0.5%;
	padding: 0.5%;
	min-height: 48px;
	min-width: 48px;
	height: 60px;
	width: 120px;
}
.fa
{
	font-size:90px;
	color:black;
	text-shadow:2px 2px 4px #000000; 
	margin: 2px;
	padding: 10px;
}

.quote
{
	font-size: 30px;
	color: blue;
	text-align: center;
}
.info
{
	font-size: 20px;
	color:blue;
	text-align:center;
}
.foot
{
	color: powderblue;
}
