body
{   
   // background-image: url("/home/dev/portfolio-akanksha/img/pic1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 35%;
  //  background-attachment: fixed;
    background-color: powderblue;
}
marquee
{
	background-color: black;
	color: white;
}
.div-1
{
	position:relative;
}
.btn
{
	position:relative;
	left: 800px;
	right: 1px;
    height: 60px;
    width: 100px;
    margin: 2px;
    font-size: 20px
}
.btn-4
{
	width: 130px;
}
.div-1 p
{
	color: black;
	font-style: italic;
	text-decoration: underline;
	font-size: 80px
	
}
.div-2
{
	display:flex;
	justify-content: center;
	align-content: space-around;
	flex-wrap: nowrap;
}
.div-2 > div
{
	margin: 10px;
    padding: 10px;
    font-size: 30px;
    background-color: lightpink;
    height: 33.33%;
    width: 33.33%;
}
.div-3
{
	position: relative;
	left: 10px;
	//height: 60px;
	//width: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	//align-content: space-between;
	
}
.div-4
{
	display:flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	align-content: space-between;
	margin:10px;
}
body h3
{
	text-align: center;
	color: hotpink;
	font-size: 30px;
	background-color: black;
}
#p1
{
	font-size: 30px;
	text-align: center;
}
#p2
{
	font-size: 20px;
	color: blue;
	text-align: center;
}
#p3
{
	font-size: 15px;
	color:blue;
	text-align:center;
}
footer
{
	background-color: black;
	color: white;
}
